# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
.env*.local
*.env
!.env.example
!api/.env.example

# Build & Logs
dist/
dist-ssr/
build/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/

# Uploads cache
public/uploads/cache/
public/uploads/slips/cache/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
